.cabeçalho {

        background-color: #627254; 
       }

.cabeçalho-título {
        color:#DDDDDD;    
        display: flex;
        justify-content: space-around;
        padding: 36px;
}      

.cabeçalho-lista { 
        color:#DDDDDD;
        display: flex;
        
}
.cabeçalho-lista-item-1 {
        color: #DDDDDD;
        display: flex;
        
}
.cabeçalho-lista-item-2 {
        color: #DDDDDD;
        display: flex;
       
}

.cabeçalho-imagem {
        width: 50%;     
}
