.cabeçalho {

        background-color: #627254; 
        display: flex;
        padding: 16px;
        font-size: 24px;
        display: inline

}

.cabeçalho-título {
        color:#DDDDDD;  
       
      }       

.cabeçalho-imagem {
       width: 10%;
    }

.cabeçalho-lista { 
        color:#DDDDDD;

}
.cabeçalho-lista-item-1 {
        color: #DDDDDD;
        
        
}
.cabeçalho-lista-item-2 {
        color: #DDDDDD;
        display: flex;
       
}
