.cabeçalho {

        background-color: #627254; 
        font-display:flex;
        justify-content: space-around;
        font-size: 35%;
        display: inline-block;
        margin: 1px;
       }

.cabeçalho-título {
        color:#DDDDDD;  
       
      }       

.cabeçalho-imagem {
       width: 10%;
    }

.cabeçalho-lista { 
        color:#DDDDDD;

}
.cabeçalho-lista-item-1 {
        color: #DDDDDD;
        
        
}
.cabeçalho-lista-item-2 {
        color: #DDDDDD;
        display: flex;
       
}
